DATABASE_SERVER=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_BD=
DEBUG=
BASE_URL=
BASE_URL_FRONTEND=

SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

JWT_SECRET=
JWT_ALGORITHM=
JWT_TIME_EXP=